body 
{
    margin: 0;
    padding: 0;
    font-family: "Acephimere", sans-serif;
}
  
* 
{
  
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
}
  
  
  /*PARAGRAPHS*/
  
pb
{
    font-size: 2vw;
    font-weight: bold;/* Set paragraph to bold*/
}
  
b
{
    font-size: 2vw;
    font-weight: bold;
    color:#41D3BD;/* Set paragraph to bold blue*/
}
  
o
{
    font-size: 2vw;
    font-weight: bold;
    color:#f4ac45;/* Set paragraph to bold orange */
}
  
r
{
    font-size: 2vw;
    font-weight: bold;
    color:#ff5964;/* Set paragraph to bold red */
}
  
  /*HEADERS*/

.title > *
{
    padding-left: 40%;
    padding-top: 1%;
    z-index: 2;

    
}

h1
{
    
    font-size: 2vw;
    color: #003049;
    font-weight: bold;
    font-style: Arial, Helvetica, sans-serif;

}


h2
{
    font-size: 1.8vw;
}
  
a 
{
    
    text-decoration: none;
    
}
    
li
{
    
    list-style: none;
    
}
  
    /*NAVBAR STYLING*/
.navbar 
{
  
    display: flex;
  
    align-items: center;
    
    justify-content: space-between;
    
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    
    background-color: rgba(255, 255, 255, 0);
    
    color: #003049;
   
}
    
    .nav-links a 
{
    
    color: #003049;
    
}

.nav-links a:hover 
{

    color: #138fd1;
      
    transition: 0.3s ease;
      
}
    
    /*NAVBAR STYLING*/

  /* NEW TOP NAVIGATION */
.topNav {
    background-color: #003049;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 20px 0 60px;
    
  }
  
  .topNav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-size: 25px;
    padding: 30px 0 30px 0;
    border-left: solid white;
  }
  
  .topNav_top2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  
  #noline {
    border-left: none;
  }
  
  header{
    position: relative;
    z-index: 1;
  }
  
  
  .navbar {
    position: relative;
    display: flex;
    background-color: #003049;
    align-items: center;
    justify-content: space-between; 
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
  
  
    }
    
    .nav-links a {
    
    color: #003049;
    
    }
    .nav-links a:hover {
    
      color: #138fd1;
      
      transition: 0.3s ease;
      
      }

.about-container
{
    margin-top: 1%;
    padding-top: 1%;
    position: absolute;
    width: 88vw;
    height: 1.5vw;
    background-color: #F2F7F9;
    padding-bottom: 82vh;
    margin-left: 2.6vw;
    margin-right: 2.6vw;

}

.about-img
{
    margin-top: -2%;
}
.about-img > *
{
    padding-left: 6%;
    margin-bottom: 2%;
    z-index: 1;
    
}

.about-container p 
{
    text-align: justify;
    font-size: 1.8vw;
    margin-bottom: 5%;

}

.about-text
{
    margin-top: -40%;
    margin-left: 40%;
    padding-right: 6%;
}