body 
{
    margin: 0;
    padding: 0;
    font-family: "Acephimere", sans-serif;
}
  
* 
{
  
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
}
  
  
  /*PARAGRAPHS*/
  
pb
{
    font-size: 2vw;
    font-weight: bold;/* Set paragraph to bold*/
}
  
b
{
    font-size: 2vw;
    font-weight: bold;
    color:#41D3BD;/* Set paragraph to bold blue*/
}
  
o
{
    font-size: 2vw;
    font-weight: bold;
    color:#f4ac45;/* Set paragraph to bold orange */
}
  
r
{
    font-size: 2vw;
    font-weight: bold;
    color:#ff5964;/* Set paragraph to bold red */
}
  
  /*HEADERS*/

.title > *
{
    padding-left: 40%;
    padding-top: 1%;
    z-index: 2;
    
}

h1{
    font-size: 2vw;
    color: #003049;
    font-weight: bold;
    font-style: Arial, Helvetica, sans-serif;

}

h2{
    font-size: 1.8vw;
}
  
a {
    text-decoration: none;
    
}
    
li{
    list-style: none;
    
}

  /* NEW TOP NAVIGATION */
  .logo {
    font-weight: bold;
    
  }

.topNav {
    background-color: #003049;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 20px 0 60px;
    
}
  
.topNav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 156%;
    padding: 30px 0 30px 0;
    border-left: solid white;

}

.topNav a:hover{
    color:#f4ac45;
}
  
.topNav_top2 {
    display: grid;
    grid-template-columns: auto auto auto auto;

}
  
#noline {
    border-left: none;

}

header{
    position: relative;
    z-index: 1;

}

.about-container
{
    margin-top: 1%;
    padding-top: 1%;
    position: absolute;
    width: 88vw;
    height: 1.5vw;
    background-color: #F2F7F9;
    padding-bottom: 82vh;
    margin-left: 2.6vw;
    margin-right: 2.6vw;

}

.about-img
{
    margin-top: -3.55%;
}
.about-img > *
{
    padding-left: 6%;
    margin-bottom: 2%;
    z-index: 1;
    
}

.about-container p 
{
    text-align: justify;
    font-size: 1.4vw;
    margin-bottom: 3%;

}

.about-text
{
    margin-top: -41%;
    margin-left: 40%;
    padding-right: 6%;
}