html{
    height: 100%;
}

body {
    font-family: "Acephimere", "Sans Serif";
    margin: 0;
    overflow: hidden;
    height: 100%;
}


/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 0px;
}


/* Item Images */

.images {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 55%;
    left: 0;
    float: left;
    overflow-y: scroll;
}

.images img {
    left: 0;
    margin-bottom: 1%;
}


/* Description*/

.description {
    display: block;
    width: 45%;
    height: 100%;
    float: right;
    margin: 0;
    justify-content: right;
    text-align: left;
    background-color: rgb(196, 196, 196);
    overflow-y: scroll;
}

.descriptionContent {
    margin: 5% 5%;
    height: 100%;
}

.QR {
    display: inline-block;
}

#QRCode {
    width: 30%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: -5%;
}

.location {
    font-size: 24px;
    color: black;
    margin-bottom: 10%;
}

.itemDescription {
    font-size: 16px;
    color: black;
    margin-bottom: 20%;
}
