html{
    height: 100%;
}

body {
    font-family: "Acephimere", "Sans Serif";
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: "Acephimere", sans-serif;
}


/*PARAGRAPHS*/
p{
    font-size: 16px;
  }
  
  pb{
    font-size: 16px;
    font-weight: bold;/* Set paragraph to bold*/
  }
  
  b{
    font-size: 16px;
    font-weight: bold;
    color:#41D3BD;/* Set paragraph to bold blue*/
  }
  
  o{
    font-size: 16px;
    font-weight: bold;
    color:#f4ac45;/* Set paragraph to bold orange */
  }
  
  r{
    font-size: 16px;
    font-weight: bold;
    color:#ff5964;/* Set paragraph to bold red */
  }
  
  /*HEADERS*/
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  
  a {
    
    text-decoration: none;
    
  }
    
    li {
    
    list-style: none;
    
    }
  
    /*NAVBAR STYLING*/
  .navbar {
  
    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    
    background-color: rgba(255, 255, 255, 0);
    
    color: #003049;
    border: 2px solid #003049;
   
    }
    
    .nav-links a {
    
    color: #003049;
    
    }
    .nav-links a:hover {
    
      color: #138fd1;
      
      transition: 0.3s ease;
      
      }
    
    /* LOGO */
    
    .logo {
    
    font-size: 35px;
    font-weight: bold;
    
    }
    
    /* NAVBAR MENU */
    
    .menu {
    
    display: flex;
    
    gap: 5.5em;
    
    font-size: 100%;
    font-weight: bold;
    
    }
    
    .menu li {
    
    padding: 5px 14px;
    
    }
  


/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 0px;
}


/* Item Images */

.images {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 55%;
    left: 0;
    float: left;
    overflow-y: scroll;
}

.images img {
    left: 0;
    margin-bottom: 1%;
}


/* Description*/

.description {
    display: block;
    width: 45%;
    height: 100%;
    float: right;
    margin: 0;
    justify-content: right;
    text-align: left;
    background-color: rgb(196, 196, 196);
    overflow-y: scroll;
}

.descriptionContent {
    margin: 5% 5%;
    height: 100%;
}

.QR {
    display: inline-block;
}

#QRCode {
    width: 30%;
}


.title {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: -5%;
}

.location {
    font-size: 24px;
    color: black;
    margin-bottom: 10%;
}

.itemDescription {
    font-size: 16px;
    color: black;
    margin-bottom: 20%;
}

/* BUTTONS */
.button {
  border: solid;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  align-self: center;
  padding: 10px;
  width: 200px;
}
