/* 
CSMA311 Author:Natalie Campos
DEVELOPER NOTES
*/
/* Add a white/transparent background color to the top navigation */

/* BASICS */
* {

  margin: 0;
  
  padding: 0;
  
  box-sizing: border-box;
  
  }
  
body {
  
  font-family: "Acephimere", sans-serif;/*Acephimere was not available 
  so I use an alternative*/
  
}

  /*PARAGRAPHS*/
  
pb
{
      font-size: 2vw;
      font-weight: bold;/* Set paragraph to bold*/
}
    
b
{
      font-size: 2vw;
      font-weight: bold;
      color:#41D3BD;/* Set paragraph to bold blue*/
}
    
o
{
      font-size: 2vw;
      font-weight: bold;
      color:#f4ac45;/* Set paragraph to bold orange */
}
    
r
{
      font-size: 2vw;
      font-weight: bold;
      color:#ff5964;/* Set paragraph to bold red */
  }
    
    /*HEADERS*/
  h1
  {
      text-align: center;
      font-size: 2vw;
      color: #003049;
      padding-top: 1%;
      padding-bottom: 1%;
      font-weight: bold;
      font-style: Arial, Helvetica, sans-serif;
  
  }
  
  h2
  {
      font-size: 1.8vw;
  }
    
  a 
  {
      
      text-decoration: none;
      
  }
      
  li
  {
      
      list-style: none;
      
  }
    

   /* } */ 
  
  /* LOGO */
  
  .logo {

    font-size: 1.5vw;
    font-weight: bold;
  }
  
  /* NAVBAR MENU */
  
  .menu {
  
  display: flex;
  
  gap: 5.5em;
  
  font-size: 1.5vw;
  font-weight: bold;
  
  }
  
  .menu li {
  
  padding: 2% 14px;
      
  }

/* NEW TOP NAVIGATION */
.topNav {
  background-color: #003049;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 0 20px 0 60px;
}

.topNav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-size: 25px;
  padding: 30px 0 30px 0;
  border-left: solid white;
}

.topNav_top2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  z-index: 3;
}

#noline {
  border-left: none;
}

      /*NAVBAR STYLING*/
  .navbar 
  {
      z-index: 3;
      
      display: flex;
    
      align-items: center;
      
      justify-content: space-between;
      
      padding: 1%;
      padding-left: 10%;
      padding-right: 10%;
      
      background-color: rgba(255, 255, 255, 0);
      
      color: #003049;
     
  }
      
      .nav-links a 
  {
      
      color: #003049;
      
  }
  
  .nav-links a:hover 
  {
  
      color: #138fd1;
        
      transition: 0.3s ease;
        
  }
      
      /* LOGO */
      
  .logo 
  {
      
      font-size: 1.5vw;
      font-weight: bold;
      
  }
      
      /* NAVBAR MENU */
      
  .menu 
  {
      display: flex;
      
      gap: 5.5em;
      
      font-size: 1.5vw;
      font-weight: bold;
      
  }
      
  .menu li 
  {
      padding: 2% 14px;
      z-index: 3;
  }



  .map-container {
    margin-top: -4%;
    margin-left: 14.5%;
     position: relative;
     width: 80%;
     height: 80%;
     object-fit: cover;
     overflow: hidden;

   }

   .legend-container {
    position: absolute;
    top: 18%;
    left: 7%;
    width: 18%;
    height: 63%;
    overflow: hidden;
    z-index: 2;
  }
   
   .kioskMap {

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   img{
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;
  }

  /*Kit*/
  .overlay1 {
    position: absolute;
    height: 9%;
    width: 9%;
    transition: .3s ease;
    background-color: transparent;
    transform: rotate(-90deg);
    top: 28%;
    bottom: 0;
    left: 57.8%;
    right: 0;
    filter: drop-shadow(-4px 2px 2px #0000007b);
}

.overlay1:hover {
    opacity: 0.7;
}

/*Frog*/
.overlay2 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(-90deg);
  top: 38%;
  bottom: 0;
  left: 30.8%;
  right: 0;
  filter: drop-shadow(-4px 0px 2px #0000007b);
}

.overlay2:hover {
  opacity: 0.7;
}

/*Plane*/
.overlay3{
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(-90deg);
  top: 36%;
  bottom: 0;
  left: 86%;
  right: 0;
  filter: drop-shadow(-4px -3.5px 2px #0000007b);
}

.overlay3:hover {
  opacity: 0.7;
}

/*House*/
.overlay4 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(90deg);
  top: 57.6%;
  bottom: 0;
  left: 74.9%;
  right: 0;
  filter: drop-shadow(4px 0px 2px #0000007b);
}

.overlay4:hover {
  opacity: 0.7;
}

/*Flower*/
.overlay5 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(180deg);
  top: 80%;
  bottom: 0;
  left: 28%;
  right: 0;
  filter: drop-shadow(-4px -2px 2px #0000007b);
}

.overlay5:hover {
  opacity: 0.7;
}

/*Grapes*/
.overlay6 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  top: 20%;
  bottom: 0;
  left: 29.5%;
  right: 0;
  filter: drop-shadow(4px 3.5px 2px #0000007b);
}

.overlay6:hover {
  opacity: 0.7;
}

/*Pattern*/
.overlay7 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  top: 70%; /*added 3%*/
  bottom: 0;
  left: 43.9%;
  right: 0;
  filter: drop-shadow(-4px 3.5px 2px #0000007b);
}

.overlay7:hover {
  opacity: 0.7;
}

/*Oscar*/
.overlay8 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(90deg);
  top: 87%;
  bottom: 0;
  left: 58.5%;
  right: 0;
  filter: drop-shadow(4px -2px 2px #0000007b);
}

.overlay8:hover {
  opacity: 0.7;
}

/*TV*/
.overlay9 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  top: 47.5%;
  bottom: 0;
  left: 64.8%;
  right: 0;
  filter: drop-shadow(3.5px -1px 2px #0000007b);
}

.overlay9:hover {
  opacity: 0.7;
}

/*Signs*/
.overlay10 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  top: 59%;
  bottom: 0;
  left: 37%;
  right: 0;
  filter: drop-shadow(4px -1px 2px #0000007b);
}

.overlay10:hover {
  opacity: 0.7;
}

/*Spanish Buildings*/
.overlay11 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(90deg);
  top: 86%;
  bottom: 0;
  left: 20.8%;
  right: 0;
  filter: drop-shadow(4px -1px 2px #0000007b);
}

.overlay11:hover {
  opacity: 0.7;
}

/*Bell*/
.overlay12 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  top: 66.9%;
  bottom: 0;
  left: 79%;
  right: 0;
  filter: drop-shadow(4px 3.5px 2px #0000007b);
}

.overlay12:hover {
  opacity: 0.7;
}

/*Train*/
.overlay13 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(90deg);
  top: 33%;
  bottom: 0;
  left: 48.5%;
  right: 0;
  filter: drop-shadow(4px -2.5px 2px #0000007b);
}

.overlay13:hover {
  opacity: 0.7;
}

/*Movie*/
.overlay14 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(90deg);
  top: 70%;
  bottom: 0;
  left: 20.8%;
  right: 0;
  filter: drop-shadow(3px -2px 2px #0000007b);
}

.overlay14:hover {
  opacity: 0.7;
}

/*Car*/
.overlay15 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(-90deg);
  top: 41%;
  bottom: 0;
  left: 71.5%;
  right: 0;
  filter: drop-shadow(-3px -3.5px 2px #0000007b);
}

.overlay15:hover {
  opacity: 0.7;
}

/*ID*/
.overlay16 {
  position: absolute;
  height: 9%;
  width: 9%;
  transition: .3s ease;
  background-color: transparent;
  transform: rotate(-90deg);
  top: 27%;
  bottom: 0;
  left: 71.1%;
  right: 0;
  filter: drop-shadow(-3px -3.5px 2px #0000007b);
}

.overlay16:hover {
  opacity: 0.7;
}
.play-icon {
    position: absolute;
    color: black;
    cursor: pointer;
    left: 50%;
    bottom: 50%;
}

.fa-play {
    position: absolute;
    z-index: 2;
    position: absolute;
}

 /*Iphone width*/
 @media (max-width: 480px) {
  .logo {
  
    font-size: 1vw;

    }
    .menu {
  
      display: flex;
      
      gap: 5.5em;
      
      font-size: 0.5vw;
      
      }
}

